extends ../template

block head
    title Платежи

block content
    aside.aside
        include ../components/discard
        include ../components/nav
    main.main
        include ../components/content
        include ../components/footer
