//mixin fonts
@mixin arial() {
  font-family: 'Arial', Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin openSans() {
  font-family: 'Open-Sans', Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
}

@mixin tele2() {
  font-family: 'Tele2-Russia-Text', Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
}

//breakpoints

@mixin smallDesktop {
  @media screen and (max-width: $smallDesktop) {
    @content;
  }
}

@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}

@mixin smallTablets {
  @media screen and (max-width: $smallTablets) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
  }
}

@mixin smallPhones {
  @media screen and (max-width: $smallPhones) {
    @content;
  }
}