$darkBg: #101114;
$whiteBg: #f7f8f8;
$menuBg: #1f2229;
$footerBg: #373c43;
$menuActiveBg: #2a2d37;
$menuBgAnother: #191c24;

$smallDesktop: 1000px;
$tablets: 768px;
$phones: 480px;
$phoneSmall: 320px;

$textColor: #8494ab;
$titleColor: #383d43;
$textMenuColor: #ffffff;
$activeTextMenuColor: #808592;
$textFooter: #89909d;