.nav {
  width: 100%;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: block;

    &_active .nav__link {
      color: $activeTextMenuColor;
      background-color: $menuActiveBg;
    }

    &:hover .nav__link {
      color: $activeTextMenuColor;
      background-color: $menuBgAnother;
    }
  }

  &__link {
    display: block;
    padding: 30px 25px;
    @include openSans();
    font-size: 18px;
    color: $textMenuColor;
    text-decoration: none;
    background-color: $menuBg;
    transition: .3s linear;
  }
}