doctype html
html(lang='ru-RU')
    head
        meta(charset='utf-8')
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(name="format-detection" content="telephone=no")
        block head
        link(rel='stylesheet' href='css/main.min.css')
    body
        div.wrapper
            div.body
                block content